:root {
    --clr-primary-200: rgba(165, 207, 159, 0.342); 
    --clr-primary-400: rgba(36, 185, 36, 0.842);

    --clr-accent-200: rgba(248, 218, 118, 0.63);
    --clr-accent-400: rgba(247, 189, 0, 0.815);

    --clr-neutral-200: rgba(0, 0, 0, 0.336);
    --clr-neutral-400: rgba(0, 0, 0, 0.76);

    --ff-primary: "Roboto", sans-serif;
    --ff-accent: "Playfair Display", serif;

    --ff-weight-400: 400;
    --ff-weight-900: 900;
}



:root {
    --clr-primary-200: #136c7230; 
    --clr-primary-400: #136c72;

    --clr-accent-200: #38CFD9;
    --clr-accent-400: #87629A;

    --clr-neutral-200: #aca9a96b;
    --clr-neutral-400: #23424A;

    --ff-primary: "Roboto", sans-serif;
    --ff-accent: "Playfair Display", serif;

    --ff-weight-400: 400;
    --ff-weight-900: 900;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--ff-primary);
    font-weight: var(--ff-weight-400);
    font-size: 1.25rem;
    line-height: 1.3;
}

body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1,
h2,
h3,
h4 {
    color: var(--clr-primary-400);
    font-family: var(--ff-accent);
    font-weight: var(--ff-weight-900);
    line-height: 1;
}

h2, h3, h4, p {
    padding: .5em 0;
    margin-bottom: 1em;
}

section {
    padding: 2em;
}

.text-center {
    text-align: center;
}

.img-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.img {
    padding: 1em;
}

.span {
    position: relative;
    width: 50%;
    font-size: 1.6rem;
    color: var(--clr-accent-200);
    text-shadow: -1px 2px var(--clr-accent-400);
    top: -2em;
    left: 8em;
    transform: rotate(-6deg);
}


img {
    width: 100%;
    box-shadow: 0 0px 8px 2px var(--clr-neutral-200);
    border-radius: 10px;
}


a {
    text-decoration: none;
    color: currentColor;
}

nav {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: black;
    color: var(--clr-accent-400);
    font-weight: var(--ff-weight-900);
    z-index: 3;
}

li {
    display: inline-block;
    list-style:  none;
    cursor: pointer;
    margin: 0 1em;
}


.header {
    padding: 1em;
    background-image: url(./assets/img/javascript_1920.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--clr-primary-400);
    background-blend-mode: hard-light;
}

.header h1 {
    font-size: 2rem;
}

.header p {
    margin-left: 8em;
    margin-top: 2em;
    color: var(--clr-accent-400);
    font-weight: var(--ff-weight-900);
    transform: rotate(-2deg);
}


.container {
    margin: auto;
    width: min(90%, 61em);
    padding: 2em 0;
    overflow: hidden;
}


#myInfo p {
    text-align: left;
    margin-bottom: 0;
}

.split {
    display: flex;
    flex-direction: column;
}

.split p {
    font-size: 1rem;
}


.links {
    display: flex;
    justify-content: space-around;
    border-bottom: var(--clr-primary-400) 1px solid;
}

/* .links p{
    color: var(--clr-primary-400);
    color: black;
    font-weight: bold;
} */

.studies {
    margin-top: -1em;
}

span {
    color: var(--clr-accent-400);
    /* color: var(--clr-accent-200); */
}



.bg-dark {
    background: var(--clr-neutral-400);
    color: white;
}

.bg-dark h2, h3 {
    color: white;
}

.bg-dark h3 {
    font-size: 2.25rem;
}

.bg-dark p {
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.856);
}

.bg-dark a {
    color: var(--clr-accent-400);
    font-size: 1.1rem;
}


/* .bg-light {
    background: var(--clr-primary-200);
    color: rgba(39, 38, 38, 0.671);
} */

.card {
    margin: 1em;
    padding: .5em;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px var(--clr-neutral-200);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    border-bottom: solid 1px var(--clr-accent-400);
}

.card__desc {
    font-style: italic;
    font-size: 1.1rem;
}

.card__year {
    font-size: .9rem;
    align-self: flex-end;
}

.splide__slide {
    display: flex;
    justify-content: space-between;
}


@media (min-width: 58em) {
    .header {
        padding: 6em;
    }

    .header h1 {
        font-size: 3rem;
    }

    .header p {
        margin-left: 12em;
        padding-top: 1.5em;
        font-size: 2.2rem;
    }

    .paraImg {
        top: 8.5em;
    }

    .split {
        flex-direction: row;
    }

    .split > * {
        flex-basis: 100%;
    }

    .split > * + * {
        margin-left: 2em;
    }

    /* .bg-light .split{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .bg-light .split > *  {
        flex-basis: 25%;
    } */

}